{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/redmond/jquery-ui-1.8.16.custom.css" />
    <script type='text/javascript' src='/static/js/jquery-1.7.1.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery-ui-1.8.16.custom.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery.form.js'></script>
    <script type='text/javascript' src='/static/js/csr.js'></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <script type='text/javascript' >

     {% if view_id %}
      var viewId = '{{ view_id }}';
      $(document).ready(function(){
          $("#tablinks li#{{ view_id }}").find("a").addClass("selected");
      });
     {% endif %}
    </script>
</head>

<body id="cols3">

<div id="wrapper">
<!--
		<div id="header">	
 			<h1><img src="/static/css/logo.gif" alt="TravelGo.com" /></h1>
			 <h2><img src="/static/css/getting-you-there.gif" alt="Getting you there since 1972" /></h2>
		
			<div class="headerlinks"> 
				<a href="/accounts/login/">Login</a> 
			</div>
		</div> -->
				
		<div id="tablinks" class="clearfix">
			<ul>
				<li id="home"  ><a href="/home/">{% trans "Home" %}</a></li>
				<li id="what_s_hot" ><a href="/what_s_hot/">{% trans "What's Hot" %}</a></li>
				<li id="customers"   ><a href="/customers/">{% trans "Customers" %}</a></li>			
				<li id="references"  ><a href="/references/">{% trans "References" %}</a></li>
				<li id="help"  ><a href="/help/">{% trans "Help" %}</a></li>
			</ul>
			<div class="headerlinks"> 
			   {% if user %} 
				<a href="/accounts/account/" id="login-status">{{ user }}</a> | 
				<a id="logout-link" href="/accounts/logout/">Logout</a> 
			   {% else %}
				<a href="/accounts/login/" id="login-link">Login</a> | 
				<a id="logout-link" href="/accounts/logout/" style="visibility: hidden;">Logout</a> 				
			    {% endif %}
			</div>		
		</div>
		<div id="breadcrumb">You are here:
		  {% block breadcrumb %}
		  <!-- <a href="/customers/">Customers</a> --
		    -- &gt; <a href="/add-customer/">Add Customer</a> -->
		  {% endblock breadcrumb %}
		</div>
		<div id="content-wrapper">		
			<div id="content-inner"> {% block content %}{% endblock %}</div> 
		</div>
		<div id="navigation">
 			<ul>	

			<li><a href="/linkdest1/">Industries</a></li>
 		        <li><a href="/linkdest2/">Education</a></li>
			<li><a href="/linkdest3/">Financial</a></li>
			<li><a href="/linkdest4/">Goverment</a></li>
			<li><a href="/linkdest5/">Telecommunications</a></li>
			<li><a href="/linkdest6/">Oil and Gas</a></li>
			<li><a href="/linkdest7/">Healthcare</a></li>
			</ul>

 		</div>
		
		<div id="footer">
			<address>
				<a href="mailto:info@example.com"	style=" font-weight: bold; color: black;">&copy; Legal Notice </a>
			</address>
		</div>
</div>
</body>
</html>

