{% extends "decorator.html" %}

{% block title %} Customer References {% endblock title %}

{% block breadcrumb %}
<a href="/references/">References</a>
<a href="/add_reference/" style="float: right;">Add Reference</a>
{% endblock breadcrumb %}

{% block content %}
<h3> Customer References </h3>


<table class="customers">
  <thead>
    <tr>
      <th>Title</th>
      <th>Customer</th>
      <th>By</th>
      <th>Is Public</th>
      <th>My Vote</th>
      <th>Total Votes</th>
      <th>Hotness Score</th>
    </tr>
  </thead>
  <tbody>
    {% for r in references %}
    <tr>
      <td><a href="/reference/{{r.id}}">{{ r.title }}</a></td>
      <td>{{ r.customer }}</td>
      <td>{{ r.submitter }}</td>
      <td>{{ r.ispublic }}</td>
      <td>{% if r.my_vote %}done{% else %}<a href='/reference/vote/{{r.id}}'>cast</a>{% endif %}</td>
      <td>{{ r.votes }}</td>
      <td>{{ r.hotness }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}
